<section class="phx-hero">
  <h1><%= gettext "Hafen" %></h1>
  <p>Maybe learn some German?</p>
</section>

<section class="row">
  <article class="column">
    <h2>Trainers</h2>
    <ul>
      <li>
        <%= link "Definite Articles", to: Routes.trainer_path(@conn, :article_question)%>
      </li>
    </ul>
  </article>
</section>
